/* Hier komt de main stijling (voor mobiel) */

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf'); 
} 

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial;
    color: black;  
    background-size: cover;  
}

main {
    margin: auto;
    width: 92.5%;
}

#achtergrond {
   background-color: grey;  
}

/* Stijling voor de header */

figure{
    font-size: 1.2em;
    border-bottom: 0;
    text-align: center;
}

#logo {
    display: block;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}


/* Stijling voor de articles */

article {
  display: flex;
  background: white;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5em;
  box-shadow: 2px 5px #888888;  
  
}

#informatie {
  display: flex;
  flex-direction: column;
  text-align: left;
}

p {
  font-size: 21px;
}

#map {
    height: 300px;
}

input {
  width: 49%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2em;
  border-width: 1px;
  display: inline-flex;
}

button {
  border-radius: 2em;
  color: white;
  background-color: green;
  width: 100%;
  height: auto;
  padding: 10px;
  box-shadow: 0;
 border-width: 0;
}

img {
  width: 100%;
}

article #plaatje {
  margin-top: 20px;
}

/* ------ ALLE MEDIA QUERIES -------- */
/* Telefoon scherm */
@media only screen and (max-width: 700px) {  

}

/* iPad scherm */
@media only screen and (min-width: 700px) and (max-width: 1000px) {  

article {
    margin: 40px;
}

p {
  font-size: 24px;
}




}

/* Media querie - Laptop */
@media only screen and (min-width: 1000px) and (max-width: 1700px){

main {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;
}

#map {
    height: 400px;
}

}

/* Media querie - Desktop */
@media only screen and (min-width: 1700px) {
/* Maximale breedte voor de main */
main {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
  max-width: 1550px;
}

}
